img {
  width: 65px;
  height: 65px;
}

.finalScore {
  color: black;
  margin: 20px auto 0 auto;
  width: 350px;
  height: 65px;
  background-color: var(--primary-blue);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    margin: 0;
    font-size: 15px;
  }
  .score {
    margin: 0;
    font-size: 25px;
  }
}

.newRecord {
  display: flex;
  width: 480px;
  margin: 0 auto;
}

.highScore {
  font-weight: 300;
  margin-bottom: 7px;
}

.playedCategory {
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

.container {
  max-width: 1057px;
  margin: 0 auto;
}

.titles {
  display: flex;
  justify-content: space-between;
  margin-top: 70px;
}

.title {
  font-size: 25px;
  font-weight: 500;
  margin: 0;
}

.questionsAndAnswers {
  margin: 20px 0 57px 0;
  p {
    margin: 15px 0 0 0;
    font-size: 15px;
  }
}

.correct {
  color: #34c759;
}

.wrong {
  color: #ff383c;
}
