.finalScore {
  color: black;
  margin: 0 auto;
  width: 350px;
  height: 65px;
  background-color: var(--primary-blue);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .title {
    margin: 0;
    font-size: 15px;
  }
  .score {
    margin: 0;
    font-size: 25px;
  }
}

.newRecord {
  display: flex;
  width: 480px;
  margin: 0 auto;
}
