.progress {
  margin-top: 20px;
  border: 0;
  height: 13px;
  width: 80%;
  border-radius: 20px;
}

.progress::-webkit-progress-bar {
  border-radius: 20px;
}

.progress::-webkit-progress-value {
  background-color: #34c759;
  border-radius: 20px;
}

.progress::-moz-progress-bar {
  border-radius: 20px;
}
