:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.skipped {
  background-color: yellow;
}

.answered {
  background-color: yellow;
}

.flex {
  display: flex;
}

.justify-spacebetween {
  justify-content: space-between;
}
