:root {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: linear-gradient(
    180deg,
    rgba(50, 14, 59, 1) 0%,
    rgba(76, 42, 133, 1) 48%,
    rgba(107, 127, 215, 1) 100%
  );
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  color: white;
  --font-family-base: "Lexend", sans-serif;
  --primary-blue: #bcedf6;
}

body,
input,
textarea,
button {
  font-family: var(--font-family-base);
}

.mainPrompt {
  font-family: var(--font-family-base);
  font-weight: 400;
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}

.buttonStartNewGame {
  width: 350px;
  height: 40px;
  font-size: 17px;
  border: none;
  background-color: var(--primary-blue);
}

.correct {
  background-color: green;
}

.wrong {
  background-color: red;
}

.skipped {
  background-color: yellow;
}

.answered {
  background-color: yellow;
}

.flex {
  display: flex;
}

.justify-spacebetween {
  justify-content: space-between;
}
